@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #3175c4;
  --accent-dim:#153457;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: var(--accent);
  --color-accent-dim: var(--accent-dim);

  /* Fonts */
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
